<html>
<head>

<style>
   
</style>
</head>
<body>
  
 <%= render 'layouts/nav' %>
<div class="home_page_main_image"></div>

<section  class="clearfix" style="background-color:#f3f3f3;padding:50px;">
		<div class="main-content">
		  <%= image_tag ("beach.jpg") %>
		<h3>Welcome to our Studio</h3>
		<a class="home-btn" href="/danceclasses">See What You Can Do...</a>
		</div>
      </section>


 <%= render 'layouts/footer' %>
</body>
<script>

</script>
</html>
