// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
     
/**************************************** home page ******************************************************/
.home_page_main_image{  /* banner image on home page  */
height:600px; /* height */
 width:100%;/* full width */
 background:  url('http://www.stardanceschool.com/images/kids-dance-classes.jpg') no-repeat top center fixed; 
 background-size: contain;/*Resize the background image to make sure the image is fully visible  */
  background-position: 0px 50px;
	}
	
	.main-content{
	
		position: relative;/* positioned relative to its normal position */
		text-align: center;/* text in the center */
		color: white;/*colour of text */
	}

.main-content img{  /* main image on home restrict the height and width   */
	max-height: 1000px; /*max height of image */
}
.main-content h3 {
    position: absolute; /*positioned relative to its first positioned ancestor  */
    top: 70px;
	left: 400px;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 80px;
}
.home-btn {   /* action button on home page  */
	position: absolute;/*positioned relative to its first positioned ancestor  */
	background: #FF5400 none repeat scroll 0% 0%; /* background colour dont repeat add a scroll and position 0 */
	text-decoration: none;
	color: #FFF !important;
	margin-top: 430px;
	width: 250px;
	padding: 12px;
	border-radius: 30px;
	top: 10%;
	left: 900px;
	font-size: 20px;
	text-align: center;
  }